TrainingApp/modules/configuration/gsrc/wsi/remote/gw/webservice/pc/pc800/PolicyLocationModel.xsd

<?xml version="1.0"?>
<xsd:schema targetNamespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.policylocationmodel" elementFormDefault="qualified" xmlns="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.policylocationmodel" xmlns:gw="http://guidewire.com/xsd" xmlns:ns0="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.accountlocationmodel" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://guidewire.com/pc/gx/gw.webservice.pc.pc800.gxmodel.accountlocationmodel" schemaLocation="AccountLocationModel.xsd"/>
  <xsd:element name="PolicyLocation" type="PolicyLocation" nillable="true"/>
  <xsd:complexType name="PolicyLocation">
    <xsd:sequence>
      <xsd:element name="AccountLocation" minOccurs="0" nillable="true" type="ns0:AccountLocation"/>
      <xsd:element name="FireProtectClass" minOccurs="0" nillable="true" type="xsd:string"/>
      <xsd:element name="IndustryCode" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Code" minOccurs="0" nillable="true" type="xsd:string" gw:type="java.lang.String"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LocationNum" minOccurs="0" nillable="true" type="xsd:int" gw:type="java.lang.Integer"/>
      <xsd:element name="TerritoryCodes" minOccurs="0" nillable="true">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Entry" minOccurs="0" nillable="true" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Code" minOccurs="0" nillable="true" type="xsd:string" gw:type="java.lang.String"/>
                </xsd:sequence>
                <xsd:attribute name="action" type="xsd:string" gw:type="gw.xml.xsd.ArrayAction"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>