ClaimCenter/modules/configuration/gsrc/wsi/remote/gw/webservice/pc/pc800/entities.xsd

<?xml version="1.0"?>
<xs:schema targetNamespace="http://guidewire.com/pc/ccintegration" elementFormDefault="qualified" xmlns:gw="http://guidewire.com/xsd" xmlns:tns="http://guidewire.com/pc/ccintegration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Envelope">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element name="CCAddress" type="tns:CCAddress"/>
          <xs:element name="CCBuilding" type="tns:CCBuilding"/>
          <xs:element name="CCClassCode" type="tns:CCClassCode"/>
          <xs:element name="CCContact" type="tns:CCContact"/>
          <xs:element name="CCPolicyLocation" type="tns:CCPolicyLocation"/>
          <xs:element name="CCPropertyOwner" type="tns:CCPropertyOwner"/>
        </xs:choice>
        <xs:element name="CCPolicy" type="tns:CCPolicy"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="StringArray">
    <xs:sequence>
      <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Summaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Entry" minOccurs="0" maxOccurs="unbounded" type="tns:CCPolicySummary"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CCPCFilteringCriteria">
    <xs:sequence>
      <xs:element name="DriverLastNames" minOccurs="0" type="tns:StringArray"/>
      <xs:element name="LicensePlates" minOccurs="0" type="tns:StringArray"/>
      <xs:element name="PolicySystemIDs" minOccurs="0" type="tns:StringArray"/>
      <xs:element name="PostalCodes" minOccurs="0" type="tns:StringArray"/>
      <xs:element name="VINS" minOccurs="0" type="tns:StringArray"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CCPersonVendor">
    <xs:complexContent>
      <xs:extension base="tns:CCPerson">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCAdjudicator">
    <xs:complexContent>
      <xs:extension base="tns:CCPerson">
        <xs:attribute name="AdjudicativeDomain" type="xs:string" use="optional"/>
        <xs:attribute name="AdjudicatorLicense" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCCompanyVendor">
    <xs:complexContent>
      <xs:extension base="tns:CCCompany">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCCompany">
    <xs:complexContent>
      <xs:extension base="tns:CCContact">
        <xs:sequence>
          <xs:element name="Case" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
          <xs:element name="Employees" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCPerson"/>
          <xs:element name="Thirdpartyinsured" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCPerson">
    <xs:complexContent>
      <xs:extension base="tns:CCContact">
        <xs:sequence>
          <xs:element name="Employer" minOccurs="0" type="xs:IDREF" gw:itype="CCCompany"/>
          <xs:element name="Guardian" minOccurs="0" type="xs:IDREF" gw:itype="CCPerson"/>
          <xs:element name="Wards" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCPerson"/>
        </xs:sequence>
        <xs:attribute name="CellPhoneCountry" type="xs:string" use="optional"/>
        <xs:attribute name="CellPhone" type="xs:string" use="optional"/>
        <xs:attribute name="CellPhoneExtension" type="xs:string" use="optional"/>
        <xs:attribute name="DateOfBirth" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
        <xs:attribute name="FirstName" type="xs:string" use="optional"/>
        <xs:attribute name="FirstNameKanji" type="xs:string" use="optional"/>
        <xs:attribute name="FormerName" type="xs:string" use="optional"/>
        <xs:attribute name="Gender" type="xs:string" use="optional"/>
        <xs:attribute name="LastName" type="xs:string" use="optional"/>
        <xs:attribute name="LastNameKanji" type="xs:string" use="optional"/>
        <xs:attribute name="LicenseNumber" type="xs:string" use="optional"/>
        <xs:attribute name="LicenseState" type="xs:string" use="optional"/>
        <xs:attribute name="MaritalStatus" type="xs:string" use="optional"/>
        <xs:attribute name="MiddleName" type="xs:string" use="optional"/>
        <xs:attribute name="NumDependents" type="xs:int" use="optional"/>
        <xs:attribute name="NumDependentsU18" type="xs:int" use="optional"/>
        <xs:attribute name="NumDependentsU25" type="xs:int" use="optional"/>
        <xs:attribute name="Occupation" type="xs:string" use="optional"/>
        <xs:attribute name="Particle" type="xs:string" use="optional"/>
        <xs:attribute name="Prefix" type="xs:string" use="optional"/>
        <xs:attribute name="Suffix" type="xs:string" use="optional"/>
        <xs:attribute name="TaxFilingStatus" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCLegalVenue">
    <xs:complexContent>
      <xs:extension base="tns:CCPlace">
        <xs:attribute name="VenueType" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCPlace">
    <xs:complexContent>
      <xs:extension base="tns:CCContact">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCAddress">
    <xs:attribute name="AddressBookUID" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine1Kanji" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine2Kanji" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine3" type="xs:string" use="optional"/>
    <xs:attribute name="AddressType" type="xs:string" use="optional"/>
    <xs:attribute name="City" type="xs:string" use="optional"/>
    <xs:attribute name="CityKanji" type="xs:string" use="optional"/>
    <xs:attribute name="Country" type="xs:string" use="optional"/>
    <xs:attribute name="County" type="xs:string" use="optional"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="HTMID" type="xs:decimal" use="optional"/>
    <xs:attribute name="PostalCode" type="xs:string" use="optional"/>
    <xs:attribute name="CEDEX" type="xs:boolean" use="optional"/>
    <xs:attribute name="CEDEXBureau" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
    <xs:attribute name="ValidUntil" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ID" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="CCContactAddress">
    <xs:sequence>
      <xs:element name="Address" minOccurs="0" type="xs:IDREF" gw:itype="CCAddress"/>
    </xs:sequence>
    <xs:attribute name="AddressBookUID" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCOfficialID">
    <xs:attribute name="OfficialIDInsuredAndType" type="xs:string" use="optional"/>
    <xs:attribute name="OfficialIDType" type="xs:string" use="optional"/>
    <xs:attribute name="OfficialIDValue" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCContact">
    <xs:sequence>
      <xs:element name="AllAddresses" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCAddress"/>
      <xs:element name="ContactAddresses" minOccurs="0" maxOccurs="unbounded" type="tns:CCContactAddress"/>
      <xs:element name="ContactCompany" minOccurs="0" type="xs:IDREF" gw:itype="CCCompany"/>
      <xs:element name="OfficialIDs" minOccurs="0" maxOccurs="unbounded" type="tns:CCOfficialID"/>
      <xs:element name="PrimaryAddress" minOccurs="0" type="xs:IDREF" gw:itype="CCAddress"/>
      <xs:element name="PrimaryContact" minOccurs="0" type="xs:IDREF" gw:itype="CCContact"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID"/>
    <xs:attribute name="AddressBookUID" type="xs:string" use="optional"/>
    <xs:attribute name="BureauIDOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="DOLIDOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="DUNSOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="EmailAddress1" type="xs:string" use="optional"/>
    <xs:attribute name="EmailAddress2" type="xs:string" use="optional"/>
    <xs:attribute name="FEINOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="FaxPhoneCountry" type="xs:string" use="optional"/>
    <xs:attribute name="FaxPhone" type="xs:string" use="optional"/>
    <xs:attribute name="FaxPhoneExtension" type="xs:string" use="optional"/>
    <xs:attribute name="HomePhoneCountry" type="xs:string" use="optional"/>
    <xs:attribute name="HomePhone" type="xs:string" use="optional"/>
    <xs:attribute name="HomePhoneExtension" type="xs:string" use="optional"/>
    <xs:attribute name="NCCIIDOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="Name" type="xs:string" use="optional"/>
    <xs:attribute name="NameKanji" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="OrganizationType" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="Preferred" type="xs:boolean" use="optional"/>
    <xs:attribute name="PreferredCurrency" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryLanguage" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryPhone" type="xs:string" use="optional"/>
    <xs:attribute name="Score" type="xs:int" use="optional"/>
    <xs:attribute name="SSNOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="STAXOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="STUNOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="SpecialtyType" type="xs:string" use="optional"/>
    <xs:attribute name="TUNSOfficialID" type="xs:string" use="optional"/>
    <xs:attribute name="TaxID" type="xs:string" use="optional"/>
    <xs:attribute name="TaxStatus" type="xs:string" use="optional"/>
    <xs:attribute name="VendorNumber" type="xs:string" use="optional"/>
    <xs:attribute name="VendorType" type="xs:string" use="optional"/>
    <xs:attribute name="W9Received" type="xs:boolean" use="optional"/>
    <xs:attribute name="W9ReceivedDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="W9ValidFrom" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="W9ValidTo" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="WithholdingRate" type="xs:decimal" use="optional"/>
    <xs:attribute name="WorkPhoneCountry" type="xs:string" use="optional"/>
    <xs:attribute name="WorkPhone" type="xs:string" use="optional"/>
    <xs:attribute name="WorkPhoneExtension" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCClassCode">
    <xs:attribute name="Code" type="xs:string" use="optional"/>
    <xs:attribute name="Comments" type="xs:string" use="optional"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="ID" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="CCPropertyCoverage">
    <xs:complexContent>
      <xs:extension base="tns:CCRUCoverage">
        <xs:attribute name="Coinsurance" type="xs:decimal" use="optional"/>
        <xs:attribute name="CoverageBasis" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCRUCoverage">
    <xs:complexContent>
      <xs:extension base="tns:CCCoverage">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCVehicleCoverage">
    <xs:complexContent>
      <xs:extension base="tns:CCRUCoverage">
        <xs:attribute name="ClaimAggLimit" type="xs:decimal" use="optional"/>
        <xs:attribute name="NonmedAggLimit" type="xs:decimal" use="optional"/>
        <xs:attribute name="PersonAggLimit" type="xs:decimal" use="optional"/>
        <xs:attribute name="ReplaceAggLimit" type="xs:decimal" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCFinancialCovTerm">
    <xs:complexContent>
      <xs:extension base="tns:CCCovTerm">
        <xs:attribute name="FinancialAmount" type="xs:string" use="optional" gw:type="gw.pl.currency.MonetaryAmount"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCNumericCovTerm">
    <xs:complexContent>
      <xs:extension base="tns:CCCovTerm">
        <xs:attribute name="NumericValue" type="xs:decimal" use="optional"/>
        <xs:attribute name="Units" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCClassificationCovTerm">
    <xs:complexContent>
      <xs:extension base="tns:CCCovTerm">
        <xs:attribute name="Code" type="xs:string" use="optional"/>
        <xs:attribute name="Description" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCCovTerm">
    <xs:attribute name="CovTermOrder" type="xs:int" use="optional"/>
    <xs:attribute name="CovTermPattern" type="xs:string" use="optional"/>
    <xs:attribute name="ModelAggregation" type="xs:string" use="optional"/>
    <xs:attribute name="ModelRestriction" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCCoverage">
    <xs:sequence>
      <xs:element name="CovTerms" minOccurs="0" maxOccurs="unbounded" type="tns:CCCovTerm"/>
    </xs:sequence>
    <xs:attribute name="Currency" type="xs:string" use="optional"/>
    <xs:attribute name="Deductible" type="xs:string" use="optional" gw:type="gw.pl.currency.MonetaryAmount"/>
    <xs:attribute name="EffectiveDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ExpirationDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ExposureLimit" type="xs:string" use="optional" gw:type="gw.pl.currency.MonetaryAmount"/>
    <xs:attribute name="IncidentLimit" type="xs:string" use="optional" gw:type="gw.pl.currency.MonetaryAmount"/>
    <xs:attribute name="LimitsIndicator" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
    <xs:attribute name="Type" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPolicyCoverage">
    <xs:complexContent>
      <xs:extension base="tns:CCCoverage">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCEndorsement">
    <xs:attribute name="Comments" type="xs:string" use="optional"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="EffectiveDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ExpirationDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="FormNumber" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCBuilding">
    <xs:attribute name="BuildingNumber" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="ID" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="CCPropertyItem">
    <xs:attribute name="AppraisedValue" type="xs:decimal" use="optional"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPropertyOwner">
    <xs:sequence>
      <xs:element name="Lienholder" minOccurs="0" type="xs:IDREF" gw:itype="CCContact"/>
    </xs:sequence>
    <xs:attribute name="OwnerType" type="xs:string" use="optional"/>
    <xs:attribute name="ID" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="CCPolicyLocation">
    <xs:sequence>
      <xs:element name="Address" minOccurs="0" type="xs:IDREF" gw:itype="CCAddress"/>
      <xs:element name="Buildings" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCBuilding"/>
      <xs:element name="HighValueItems" minOccurs="0" maxOccurs="unbounded" type="tns:CCPropertyItem"/>
      <xs:element name="Lienholders" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCPropertyOwner"/>
    </xs:sequence>
    <xs:attribute name="ID" type="xs:ID"/>
    <xs:attribute name="FixedID" type="xs:int" use="optional"/>
    <xs:attribute name="LocationNumber" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryLocation" type="xs:boolean" use="optional"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPropertyRU">
    <xs:complexContent>
      <xs:extension base="tns:CCLocationBasedRU">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCWCCovEmpRU">
    <xs:complexContent>
      <xs:extension base="tns:CCLocationBasedRU">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCInlandMarineRU">
    <xs:complexContent>
      <xs:extension base="tns:CCLocationBasedRU">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCLocationMiscRU">
    <xs:complexContent>
      <xs:extension base="tns:CCLocationBasedRU">
        <xs:attribute name="OtherRiskType" type="xs:string" use="optional"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCBuildingRU">
    <xs:complexContent>
      <xs:extension base="tns:CCLocationBasedRU">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCLocationBasedRU">
    <xs:complexContent>
      <xs:extension base="tns:CCRiskUnit">
        <xs:sequence>
          <xs:element name="Building" minOccurs="0" type="xs:IDREF" gw:itype="CCBuilding"/>
          <xs:element name="Lienholders" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCPropertyOwner"/>
          <xs:element name="PolicyLocation" minOccurs="0" type="xs:IDREF" gw:itype="CCPolicyLocation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCGeneralLiabilityRU">
    <xs:complexContent>
      <xs:extension base="tns:CCLocationBasedRU">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCVehicleOwner">
    <xs:sequence>
      <xs:element name="Lienholder" minOccurs="0" type="xs:IDREF" gw:itype="CCContact"/>
    </xs:sequence>
    <xs:attribute name="OwnerType" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCVehicle">
    <xs:sequence>
      <xs:element name="Lienholders" minOccurs="0" maxOccurs="unbounded" type="tns:CCVehicleOwner"/>
    </xs:sequence>
    <xs:attribute name="BoatType" type="xs:string" use="optional"/>
    <xs:attribute name="Color" type="xs:string" use="optional"/>
    <xs:attribute name="LicensePlate" type="xs:string" use="optional"/>
    <xs:attribute name="Loan" type="xs:boolean" use="optional"/>
    <xs:attribute name="LoanMonthlyPayment" type="xs:decimal" use="optional"/>
    <xs:attribute name="LoanPayoffAmount" type="xs:decimal" use="optional"/>
    <xs:attribute name="LoanMonthsRemaining" type="xs:int" use="optional"/>
    <xs:attribute name="Make" type="xs:string" use="optional"/>
    <xs:attribute name="Manufacturer" type="xs:string" use="optional"/>
    <xs:attribute name="Model" type="xs:string" use="optional"/>
    <xs:attribute name="OffRoadStyle" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="SerialNumber" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
    <xs:attribute name="Style" type="xs:string" use="optional"/>
    <xs:attribute name="Vin" type="xs:string" use="optional"/>
    <xs:attribute name="Year" type="xs:int" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCVehicleRU">
    <xs:complexContent>
      <xs:extension base="tns:CCRiskUnit">
        <xs:sequence>
          <xs:element name="Vehicle" minOccurs="0" type="tns:CCVehicle"/>
          <xs:element name="VehicleLocation" minOccurs="0" type="xs:IDREF" gw:itype="CCPolicyLocation"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CCRiskUnit">
    <xs:sequence>
      <xs:element name="ClassCode" minOccurs="0" type="xs:IDREF" gw:itype="CCClassCode"/>
      <xs:element name="Coverages" minOccurs="0" maxOccurs="unbounded" type="tns:CCRUCoverage"/>
    </xs:sequence>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="RUNumber" type="xs:int" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCStatCode">
    <xs:attribute name="BuildingNumber" type="xs:string" use="optional"/>
    <xs:attribute name="ClassCode" type="xs:string" use="optional"/>
    <xs:attribute name="InsuranceLine" type="xs:string" use="optional"/>
    <xs:attribute name="InsuranceSubLine" type="xs:string" use="optional"/>
    <xs:attribute name="LineNumber" type="xs:int" use="optional"/>
    <xs:attribute name="MajorPeril" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
    <xs:attribute name="VehicleNumber" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPolicy">
    <xs:annotation>
      <xs:documentation>
        Represents a ClaimCenter Policy
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Agent" minOccurs="0" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="AltContact" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCPerson"/>
      <xs:element name="ClassCodes" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCClassCode"/>
      <xs:element name="Coverages" minOccurs="0" maxOccurs="unbounded" type="tns:CCPolicyCoverage"/>
      <xs:element name="CoveredParty" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="DoingBusinessAs" minOccurs="0" type="xs:IDREF" gw:itype="CCCompany"/>
      <xs:element name="Endorsements" minOccurs="0" maxOccurs="unbounded" type="tns:CCEndorsement"/>
      <xs:element name="ExcludedParty" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerAgent" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerCoveredParty" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerDoingBusinessAs" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerExcludedParty" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerInsured" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerPolicyHolder" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="FormerUnderwriter" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="Insured" minOccurs="0" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="InsuredRep" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="MainContact" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="Other" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="PolicyHolder" minOccurs="0" type="xs:IDREF" gw:itype="CCContact"/>
      <xs:element name="PolicyLocations" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCPolicyLocation"/>
      <xs:element name="RiskUnits" minOccurs="0" maxOccurs="unbounded" type="tns:CCRiskUnit"/>
      <xs:element name="StatCodes" minOccurs="0" maxOccurs="unbounded" type="tns:CCStatCode"/>
      <xs:element name="Underwriter" minOccurs="0" type="xs:IDREF" gw:itype="CCPerson"/>
      <xs:element name="WCCarrier" minOccurs="0" maxOccurs="unbounded" type="xs:IDREF" gw:itype="CCContact"/>
    </xs:sequence>
    <xs:attribute name="Account" type="xs:string" use="optional"/>
    <xs:attribute name="CancellationDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="CoverageForm" type="xs:string" use="optional"/>
    <xs:attribute name="Currency" type="xs:string" use="optional"/>
    <xs:attribute name="CustomerServiceTier" type="xs:string" use="optional"/>
    <xs:attribute name="EffectiveDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ExpirationDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="FinancialInterests" type="xs:string" use="optional"/>
    <xs:attribute name="ForeignCoverage" type="xs:boolean" use="optional"/>
    <xs:attribute name="InsuredSICCode" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="OriginalEffectiveDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="OtherInsurance" type="xs:boolean" use="optional"/>
    <xs:attribute name="OtherInsuranceInfo" type="xs:string" use="optional"/>
    <xs:attribute name="Participation" type="xs:decimal" use="optional"/>
    <xs:attribute name="PolicyNumber" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyRatingPlan" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySource" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySuffix" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemPeriodID" type="xs:long" use="optional"/>
    <xs:attribute name="PolicyType" type="xs:string" use="optional"/>
    <xs:attribute name="ProducerCode" type="xs:string" use="optional"/>
    <xs:attribute name="ReportingDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="RetroactiveDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ReturnToWorkPrgm" type="xs:boolean" use="optional"/>
    <xs:attribute name="Status" type="xs:string" use="optional"/>
    <xs:attribute name="TotalProperties" type="xs:int" use="optional"/>
    <xs:attribute name="TotalVehicles" type="xs:int" use="optional"/>
    <xs:attribute name="UnderwritingCo" type="xs:string" use="optional"/>
    <xs:attribute name="UnderwritingGroup" type="xs:string" use="optional"/>
    <xs:attribute name="WCOtherStates" type="xs:string" use="optional"/>
    <xs:attribute name="WCStates" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPCSearchCriteria">
    <xs:annotation>
      <xs:documentation>
        Represents a ClaimCenter Policy Search Criteria
      </xs:documentation>
    </xs:annotation>
    <xs:attribute name="AccountNumber" type="xs:string" use="optional"/>
    <xs:attribute name="AsOfDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="CompanyName" type="xs:string" use="optional"/>
    <xs:attribute name="CompanyNameKanji" type="xs:string" use="optional"/>
    <xs:attribute name="FirstName" type="xs:string" use="optional"/>
    <xs:attribute name="FirstNameKanji" type="xs:string" use="optional"/>
    <xs:attribute name="IncludeArchived" type="xs:boolean" use="optional"/>
    <xs:attribute name="LastName" type="xs:string" use="optional"/>
    <xs:attribute name="LastNameKanji" type="xs:string" use="optional"/>
    <xs:attribute name="NonRenewalCode" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyNumber" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyStatus" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryInsuredCity" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryInsuredCityKanji" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryInsuredCountry" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryInsuredPostalCode" type="xs:string" use="optional"/>
    <xs:attribute name="PrimaryInsuredState" type="xs:string" use="optional"/>
    <xs:attribute name="ProducerCodeString" type="xs:string" use="optional"/>
    <xs:attribute name="ProducerString" type="xs:string" use="optional"/>
    <xs:attribute name="Product" type="xs:string" use="optional"/>
    <xs:attribute name="ProductCode" type="xs:string" use="optional"/>
    <xs:attribute name="TaxID" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPolicySummaryProperty">
    <xs:attribute name="Address" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine1Kanji" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine2Kanji" type="xs:string" use="optional"/>
    <xs:attribute name="BuildingNumber" type="xs:string" use="optional"/>
    <xs:attribute name="City" type="xs:string" use="optional"/>
    <xs:attribute name="CityKanji" type="xs:string" use="optional"/>
    <xs:attribute name="Description" type="xs:string" use="optional"/>
    <xs:attribute name="Location" type="xs:string" use="optional"/>
    <xs:attribute name="Notes" type="xs:string" use="optional"/>
    <xs:attribute name="PropertyNumber" type="xs:int" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPolicySummaryVehicle">
    <xs:attribute name="Color" type="xs:string" use="optional"/>
    <xs:attribute name="LicensePlate" type="xs:string" use="optional"/>
    <xs:attribute name="Make" type="xs:string" use="optional"/>
    <xs:attribute name="Model" type="xs:string" use="optional"/>
    <xs:attribute name="PolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="SerialNumber" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
    <xs:attribute name="VehicleNumber" type="xs:int" use="optional"/>
    <xs:attribute name="Vin" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CCPolicySummary">
    <xs:sequence>
      <xs:element name="Properties" minOccurs="0" maxOccurs="unbounded" type="tns:CCPolicySummaryProperty"/>
      <xs:element name="Vehicles" minOccurs="0" maxOccurs="unbounded" type="tns:CCPolicySummaryVehicle"/>
    </xs:sequence>
    <xs:attribute name="Address" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine1" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine1Kanji" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine2" type="xs:string" use="optional"/>
    <xs:attribute name="AddressLine2Kanji" type="xs:string" use="optional"/>
    <xs:attribute name="City" type="xs:string" use="optional"/>
    <xs:attribute name="CityKanji" type="xs:string" use="optional"/>
    <xs:attribute name="EffectiveDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="ExpirationDate" type="xs:dateTime" use="optional" gw:type="java.util.Date"/>
    <xs:attribute name="InsuredName" type="xs:string" use="optional"/>
    <xs:attribute name="IsArchived" type="xs:boolean" use="optional"/>
    <xs:attribute name="PolicyNumber" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyType" type="xs:string" use="optional"/>
    <xs:attribute name="PostalCode" type="xs:string" use="optional"/>
    <xs:attribute name="CEDEX" type="xs:boolean" use="optional"/>
    <xs:attribute name="CEDEXBureau" type="xs:string" use="optional"/>
    <xs:attribute name="ProducerCode" type="xs:string" use="optional"/>
    <xs:attribute name="State" type="xs:string" use="optional"/>
    <xs:attribute name="Status" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PolicyLocationInfo">
    <xs:sequence>
      <xs:element name="PolicyLocationAddress" minOccurs="0" type="tns:CCAddress" gw:itype="CCAddress"/>
      <xs:element name="PNIAddressFields" minOccurs="0" type="tns:CCAddress" gw:itype="CCAddress"/>
      <xs:element name="TotalInsuredValues" minOccurs="0" maxOccurs="unbounded" type="tns:MapEntry" gw:itype="MapEntry"/>
    </xs:sequence>
    <xs:attribute name="PolicyNumber" type="xs:string" use="optional"/>
    <xs:attribute name="ProductCode" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyLocationLatitude" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyLocationLongitude" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyLocationGeocodeStatus" type="xs:string" use="optional"/>
    <xs:attribute name="PolicyLocationPolicySystemID" type="xs:string" use="optional"/>
    <xs:attribute name="PNIName" type="xs:string" use="optional"/>
    <xs:attribute name="PNIPhoneCountry" type="xs:string" use="optional"/>
    <xs:attribute name="PNIPhoneNumber" type="xs:string" use="optional"/>
    <xs:attribute name="PNIPhoneExtension" type="xs:string" use="optional"/>
    <xs:attribute name="PNIEmail" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="MapEntry">
    <xs:sequence/>
    <xs:attribute name="Currency" type="xs:string" use="optional"/>
    <xs:attribute name="Name" type="xs:string" use="optional"/>
    <xs:attribute name="Value" type="xs:decimal" use="optional"/>
  </xs:complexType>
</xs:schema>