ClaimCenter/modules/configuration/gsrc/consumeWebService/WSICal/ContactsProcessor.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://example.com/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor" name="ContactsProcessor" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://example.com/Practise_WEBSERVICE/FetchContactsAPI" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://example.com/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://example.com/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://example.com/Practise_WEBSERVICE/FetchContactsAPI"/>
      <xs:element name="sendContactType">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contact" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="sendContactTypeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" gw:viewas="list" xmlns:gw="http://guidewire.com/xsd">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="WebServiceException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="WsiAuthenticationException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="getContacts">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="req" minOccurs="0" type="pogo:ContactsRequest"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getContactsResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:ContactsResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://example.com/Practise_WEBSERVICE/FetchContactsAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="ContactsRequest">
        <xs:sequence>
          <xs:element name="contact" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ContactsResponse">
        <xs:sequence>
          <xs:element name="contacts" minOccurs="0" gw:viewas="list" xmlns:gw="http://guidewire.com/xsd">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" type="xs:string" nillable="true"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="ContactsProcessorPortType">
    <wsdl:operation name="sendContactType">
      <wsdl:input name="sendContactType" message="tns:sendContactType"/>
      <wsdl:output name="sendContactTypeResponse" message="tns:sendContactTypeResponse"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <wsdl:input name="getContacts" message="tns:getContacts"/>
      <wsdl:output name="getContactsResponse" message="tns:getContactsResponse"/>
      <wsdl:fault name="WebServiceException" message="tns:WebServiceException"/>
      <wsdl:fault name="WsiAuthenticationException" message="tns:WsiAuthenticationException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ContactsProcessorSoap12Binding" type="tns:ContactsProcessorPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="sendContactType">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="sendContactType">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendContactTypeResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <soap12:operation soapActionRequired="false" style="document"/>
      <wsdl:input name="getContacts">
        <soap12:body use="literal"/>
        <soap12:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getContactsResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceException">
        <soap12:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap12:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ContactsProcessorSoap11Binding" type="tns:ContactsProcessorPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="sendContactType">
      <soap11:operation style="document"/>
      <wsdl:input name="sendContactType">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendContactTypeResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContacts">
      <soap11:operation style="document"/>
      <wsdl:input name="getContacts">
        <soap11:body use="literal"/>
        <soap11:header message="tns:gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="tns:gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getContactsResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="WebServiceException">
        <soap11:fault name="WebServiceException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="WsiAuthenticationException">
        <soap11:fault name="WsiAuthenticationException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsProcessor">
    <wsdl:port name="ContactsProcessorSoap12Port" binding="tns:ContactsProcessorSoap12Binding">
      <soap12:address location="http://localhost:8880/ab/ws/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor"/>
      <gwwsdl:address location="${ab}/ws/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor"/>
    </wsdl:port>
    <wsdl:port name="ContactsProcessorSoap11Port" binding="tns:ContactsProcessorSoap11Binding">
      <soap11:address location="http://localhost:8880/ab/ws/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor/soap11"/>
      <gwwsdl:address location="${ab}/ws/Practise_WEBSERVICE/FetchContactsAPI/ContactsProcessor/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="sendContactType">
    <wsdl:part name="parameters" element="tns:sendContactType"/>
  </wsdl:message>
  <wsdl:message name="sendContactTypeResponse">
    <wsdl:part name="parameters" element="tns:sendContactTypeResponse"/>
  </wsdl:message>
  <wsdl:message name="WebServiceException">
    <wsdl:part name="WebServiceException" element="tns:WebServiceException"/>
  </wsdl:message>
  <wsdl:message name="WsiAuthenticationException">
    <wsdl:part name="WsiAuthenticationException" element="tns:WsiAuthenticationException"/>
  </wsdl:message>
  <wsdl:message name="getContacts">
    <wsdl:part name="parameters" element="tns:getContacts"/>
  </wsdl:message>
  <wsdl:message name="getContactsResponse">
    <wsdl:part name="parameters" element="tns:getContactsResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>