ClaimCenter8_Latest/Guidewire/ClaimCenter/modules/configuration/gsrc/wsi/remote/gw/webservice/pc/pc700/RICoverageAPI.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI" name="RICoverageAPI" xmlns="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI" xmlns:gwsoap="http://guidewire.com/ws/soapheaders" xmlns:gwwsdl="http://guidewire.com/pl/wsdl" xmlns:pogo="http://guidewire.com/pc/ws/gw/reinsurance/risk/RIRiskInfo" xmlns:pogo2="http://guidewire.com/pc/ws/gw/reinsurance/agreement/RIAgreementInfo" xmlns:pogo3="http://guidewire.com/pc/typekey" xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/ws/soapheaders" schemaLocation="soapheaders.xsd"/>
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/reinsurance/agreement/RIAgreementInfo"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/reinsurance/risk/RIRiskInfo"/>
      <xs:element name="findRIRiskByCoverableID">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="coverableID" type="xs:string" minOccurs="0"/>
            <xs:element name="coverageCode" type="xs:string" minOccurs="0"/>
            <xs:element name="date" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findRIRiskByCoverableIDResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:RIRiskInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SOAPException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="RequiredFieldException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="FieldConversionException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="BadIdentifierException">
        <xs:complexType/>
      </xs:element>
      <xs:element name="findRIPolicyRisk">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="policyNumber" type="xs:string" minOccurs="0"/>
            <xs:element name="coverageCode" type="xs:string" minOccurs="0"/>
            <xs:element name="date" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findRIPolicyRiskResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="return" minOccurs="0" type="pogo:RIRiskInfo"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/reinsurance/risk/RIRiskInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/reinsurance/agreement/RIAgreementInfo"/>
      <xs:complexType name="RIRiskInfo">
        <xs:sequence>
          <xs:element name="Agreements" minOccurs="0" gw:viewas="array" xmlns:gw="http://guidewire.com/xsd">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="pogo2:RIAgreementInfo"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Description" type="xs:string" minOccurs="0"/>
          <xs:element name="RIRiskID" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/ws/gw/reinsurance/agreement/RIAgreementInfo" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/typekey"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/reinsurance/risk/RIRiskInfo"/>
      <xs:complexType name="RIAgreementInfo">
        <xs:sequence>
          <xs:element name="AgreementNumber" type="xs:string" minOccurs="0"/>
          <xs:element name="AttachmentPoint" type="xs:decimal" minOccurs="0"/>
          <xs:element name="AttachmentPointIndexed" type="xs:boolean" minOccurs="0"/>
          <xs:element name="CededShare" type="xs:decimal" minOccurs="0"/>
          <xs:element name="Comments" type="xs:string" minOccurs="0"/>
          <xs:element name="Draft" type="xs:boolean" minOccurs="0"/>
          <xs:element name="EffectiveDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
          <xs:element name="ExpirationDate" type="xs:dateTime" gw:type="java.util.Date" minOccurs="0" xmlns:gw="http://guidewire.com/xsd"/>
          <xs:element name="Name" type="xs:string" minOccurs="0"/>
          <xs:element name="NotificationThreshold" type="xs:decimal" minOccurs="0"/>
          <xs:element name="ProportionalPercentage" type="xs:decimal" minOccurs="0"/>
          <xs:element name="RecoveryLimit" type="xs:decimal" minOccurs="0"/>
          <xs:element name="TopOfLayer" type="xs:decimal" minOccurs="0"/>
          <xs:element name="TopOfLayerIndexed" type="xs:boolean" minOccurs="0"/>
          <xs:element name="Type" minOccurs="0" type="pogo3:RIAgreement"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema targetNamespace="http://guidewire.com/pc/typekey" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://guidewire.com/pc/ws/gw/reinsurance/agreement/RIAgreementInfo"/>
      <xs:import namespace="http://guidewire.com/pc/ws/gw/reinsurance/risk/RIRiskInfo"/>
      <xs:simpleType name="RIAgreement">
        <xs:restriction base="xs:string">
          <xs:enumeration value="RIAgreement"/>
          <xs:enumeration value="ProportionalRIAgreement"/>
          <xs:enumeration value="NonProportionalRIAgreement"/>
          <xs:enumeration value="PerEventRITreaty"/>
          <xs:enumeration value="AnnualAggregateRITreaty"/>
          <xs:enumeration value="QuotaShareRITreaty"/>
          <xs:enumeration value="SurplusRITreaty"/>
          <xs:enumeration value="FacProportionalRIAgreement"/>
          <xs:enumeration value="FacExcessOfLossRIAgreement"/>
          <xs:enumeration value="ExcessOfLossRITreaty"/>
          <xs:enumeration value="FacNetExcessOfLossRIAgreement"/>
          <xs:enumeration value="NetExcessOfLossRITreaty"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:portType name="RICoverageAPIPortType">
    <wsdl:operation name="findRIRiskByCoverableID">
      <wsdl:input name="findRIRiskByCoverableID" message="findRIRiskByCoverableID"/>
      <wsdl:output name="findRIRiskByCoverableIDResponse" message="findRIRiskByCoverableIDResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="FieldConversionException" message="FieldConversionException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
    </wsdl:operation>
    <wsdl:operation name="findRIPolicyRisk">
      <wsdl:input name="findRIPolicyRisk" message="findRIPolicyRisk"/>
      <wsdl:output name="findRIPolicyRiskResponse" message="findRIPolicyRiskResponse"/>
      <wsdl:fault name="SOAPException" message="SOAPException"/>
      <wsdl:fault name="RequiredFieldException" message="RequiredFieldException"/>
      <wsdl:fault name="BadIdentifierException" message="BadIdentifierException"/>
      <wsdl:fault name="FieldConversionException" message="FieldConversionException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RICoverageAPISoap12Binding" type="RICoverageAPIPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="findRIRiskByCoverableID">
      <soap12:operation style="document"/>
      <wsdl:input name="findRIRiskByCoverableID">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findRIRiskByCoverableIDResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FieldConversionException">
        <soap12:fault name="FieldConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findRIPolicyRisk">
      <soap12:operation style="document"/>
      <wsdl:input name="findRIPolicyRisk">
        <soap12:body use="literal"/>
        <soap12:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap12:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findRIPolicyRiskResponse">
        <soap12:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap12:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap12:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap12:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FieldConversionException">
        <soap12:fault name="FieldConversionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RICoverageAPISoap11Binding" type="RICoverageAPIPortType">
    <soap11:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="findRIRiskByCoverableID">
      <soap11:operation style="document"/>
      <wsdl:input name="findRIRiskByCoverableID">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findRIRiskByCoverableIDResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FieldConversionException">
        <soap11:fault name="FieldConversionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findRIPolicyRisk">
      <soap11:operation style="document"/>
      <wsdl:input name="findRIPolicyRisk">
        <soap11:body use="literal"/>
        <soap11:header message="gw-authentication" part="gw-authentication" use="literal"/>
        <soap11:header message="gw-locale" part="gw-locale" use="literal"/>
      </wsdl:input>
      <wsdl:output name="findRIPolicyRiskResponse">
        <soap11:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SOAPException">
        <soap11:fault name="SOAPException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="RequiredFieldException">
        <soap11:fault name="RequiredFieldException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="BadIdentifierException">
        <soap11:fault name="BadIdentifierException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="FieldConversionException">
        <soap11:fault name="FieldConversionException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RICoverageAPI">
    <wsdl:port name="RICoverageAPISoap12Port" binding="RICoverageAPISoap12Binding">
      <soap12:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI"/>
    </wsdl:port>
    <wsdl:port name="RICoverageAPISoap11Port" binding="RICoverageAPISoap11Binding">
      <soap11:address location="http://localhost:8180/pc/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI/soap11"/>
      <gwwsdl:address location="${pc}/ws/gw/webservice/pc/pc700/reinsurance/RICoverageAPI/soap11"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="findRIRiskByCoverableID">
    <wsdl:part name="parameters" element="findRIRiskByCoverableID"/>
  </wsdl:message>
  <wsdl:message name="findRIRiskByCoverableIDResponse">
    <wsdl:part name="parameters" element="findRIRiskByCoverableIDResponse"/>
  </wsdl:message>
  <wsdl:message name="SOAPException">
    <wsdl:part name="SOAPException" element="SOAPException"/>
  </wsdl:message>
  <wsdl:message name="RequiredFieldException">
    <wsdl:part name="RequiredFieldException" element="RequiredFieldException"/>
  </wsdl:message>
  <wsdl:message name="FieldConversionException">
    <wsdl:part name="FieldConversionException" element="FieldConversionException"/>
  </wsdl:message>
  <wsdl:message name="BadIdentifierException">
    <wsdl:part name="BadIdentifierException" element="BadIdentifierException"/>
  </wsdl:message>
  <wsdl:message name="findRIPolicyRisk">
    <wsdl:part name="parameters" element="findRIPolicyRisk"/>
  </wsdl:message>
  <wsdl:message name="findRIPolicyRiskResponse">
    <wsdl:part name="parameters" element="findRIPolicyRiskResponse"/>
  </wsdl:message>
  <wsdl:message name="gw-authentication">
    <wsdl:part name="gw-authentication" element="gwsoap:authentication"/>
  </wsdl:message>
  <wsdl:message name="gw-locale">
    <wsdl:part name="gw-locale" element="gwsoap:locale"/>
  </wsdl:message>
</wsdl:definitions>